%ul.ca-parent
  %li.parent
    =link_to '/' do
      レディース
    %ul.ca-child
      /以下部分テンプレート1
      %li.child
        =link_to '/' do
          すべて
      %li.child
        =link_to '/' do
          トップス
        %ul.ca-grand-child
          /以下部分テンプレート2
          %li.grand-child
            =link_to '/' do
              すべて
          %li.grand-child
            =link_to '/' do
              Tシャツ/カットソー(半袖/袖なし)
          %li.grand-child
            =link_to '/' do
              Tシャツ/カットソー(七分/長袖)
          %li.grand-child
            =link_to '/' do
              シャツ/ブラウス(半袖/袖なし)
          %li.grand-child
            =link_to '/' do
              シャツ/ブラウス(七分/長袖)
          %li.grand-child
            =link_to '/' do
              ポロシャツ
          %li.grand-child
            =link_to '/' do
              キャミソール
          %li.grand-child
            =link_to '/' do
              タンクトップ
          %li.grand-child
            =link_to '/' do
              ホルターネック
          %li.grand-child
            =link_to '/' do
              ニット/セーター
          %li.grand-child
            =link_to '/' do
              チュニック
          %li.grand-child
            =link_to '/' do
              カーディガン/ボレロ
          %li.grand-child
            =link_to '/' do
              アンサンブル
          %li.grand-child
            =link_to '/' do
              べスト/ジレ
          %li.grand-child
            =link_to '/' do
              パーカー
          %li.grand-child
            =link_to '/' do
              トレーナー/スウェット
          %li.grand-child
            =link_to '/' do
              ベアトップ/チューブトップ
          %li.grand-child
            =link_to '/' do
              ジャージ
          %li.grand-child
            =link_to '/' do
              その他


      %li.child
        =link_to '/' do
          ジャケット/アウター
        
      
      %li.child
        =link_to '/' do
          パンツ
        
      %li.child
        =link_to '/' do
          スカート

      %li.child
        =link_to '/' do
          ワンピース

      %li.child
        =link_to '/' do
          靴

      %li.child
        =link_to '/' do
          ルームウェア/パジャマ

      %li.child
        =link_to '/' do
          レッグウェア

      %li.child
        =link_to '/' do
          帽子

      %li.child
        =link_to '/' do
          バッグ

      %li.child
        =link_to '/' do
          アクセサリー

      %li.child
        =link_to '/' do
          ヘアアクセサリー

      %li.child
        =link_to '/' do
          小物

      %li.child
        =link_to '/' do
          時計

      %li.child
        =link_to '/' do
          ウィッグ/エクステ

      %li.child
        =link_to '/' do
          浴衣/水着

      %li.child
        =link_to '/' do
          スーツ/フォーマル/ドレス

      %li.child
        =link_to '/' do
          マタニティ

      %li.child
        =link_to '/' do
          その他

      
        
        
  %li.parent
    =link_to '/' do
      メンズ
    %ul.ca-child
      %li.child
        
  
  %li.parent
    =link_to '/' do
      ベビー・キッズ
    %ul.ca-child
      %li.child
        

  %li.parent
    =link_to '/' do
      インテリア・住まい・小物
    %ul.ca-child
      %li.child
        
  
  %li.parent
    =link_to '/' do
      本・音楽・ゲーム
    %ul.ca-child
      %li.child
        
  
  %li.parent
    =link_to '/' do
      おもちゃ・ホビー・グッズ
    %ul.ca-child
      %li.child
        
  
  %li.parent
    =link_to '/' do
      コスメ・香水・美容
    %ul.ca-child
      %li.child
       
  
  %li.parent
    =link_to '/' do
      家電・スマホ・カメラ
    %ul.ca-child
      %li.child
        
  
  %li.parent
    =link_to '/' do
      スポーツ・レジャー
    %ul.ca-child
      %li.child
        
  
  %li.parent
    =link_to '/' do
      ハンドメイド
    %ul.ca-child
      %li.child
        
  %li.parent
    =link_to '/' do
      チケット
    %ul.ca-child
      %li.chil
        
  %li.parent
    =link_to '/' do
      自動車・オートバイ
    %ul.ca-child
      %li.child
        
  %li.parent
    =link_to '/' do
      その他
    %ul.ca-child
      %li.child
        