.registration-main
  .registration-main__container
    %h2.registration-main__container__header
      会員登録完了
    .registration-form
      .form-registration-inner
        .form-group
          %p.text-center ありがとうございます。</br>会員登録が完了しました
        .form-group
          %button.login-submit.btn-default.btn-red
            メルカリをはじめる
        