.registration-main 
  .registration-main__container
    %h2.registration-main__container__header
      新規会員登録
    .registration-main__container__resistration-form
      .registration-main__container__resistration-form__box

        = link_to "新規会員登録", first_signup_page_signup_index_path

        = link_to "Facebookで登録する"

        = link_to "Googleで登録する"

        