= render "shared/header"

.container
  %form.inner-right{:action => "https://www.mercari.com/jp/logout/", :method => "post", :novalidate => "novalidate"}
    = render "mypages/sidebar"

    .inner-right--content
      %button.btn-red{:type => "submit"}ログアウト

= render "shared/footer"
