%header
  .header-main
    .header-top
      = link_to "/" ,class:"header-top__logo" do
        = image_tag '/svg/fmarket_logo_red.svg',class: "ca_logo",width: "130px"
      .header-top__search
        %input{name: "search",placeholder: "何かお探しですか？", type: "search", value: ""}/
        %button{type:"submit",class:"search-icon"}
          %i.fas.fa-search
    .header-bottom
      .header-bottom-left
        .header-bottom-left__category
          %i.fas.fa-list-ul
          カテゴリーから探す
        .header-bottom-left__brand
          %i.fas.fa-tag
          ブランドから探す
        
      .header-bottom-right
        %ul
          %li
            %i.far.fa-heart
            いいね！一覧
          %li
            %i.far.fa-bell
            お知らせリスト
          %li
            %i.fas.fa-check
            やることリスト
          %li
            %i.far.fa-heart
            マイページ
          

    
    
    
      

  = link_to '/signup',class:"test-signup-button" do
    %input{value: "新規登録", type: "submit"}
