*{box-sizing:border-box }

.complete {
  height: 300px;
  width: 600px;
  background-color: white;
  margin: 0 auto;
  margin-top:40px;
  &__top {
    background-color: white;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    border-bottom: solid 1px;
  }
  &__bottom {
    padding: 40px;
    font-size: 13px;
    text-align: center;
    &__middle {
      background-color: red;
      color: white;
      line-height: 45px;
      margin-top: 40px;
    }
    &__under {
      color: #0099e8;
      text-align: center;
      font-size: 13px;
      margin-top: 5px;
    }
  }
}