= link_to '',class:"items-box" do
  -#clearfix?
  %img{src:"/img/food_ebi_fry.png"}/
  .items-body
    .items-body__name
      エビフライ
    .items-body__price
      %p ¥6,000
      %i.far.fa-heart.fa-1x
= link_to '',class:"items-box" do
  -#clearfix?
  %img{src:"/img/food_ebi_fry.png"}/
  .items-body
    .items-body__name
      エビフライ
    .items-body__price
      %p ¥6,000
      %i.far.fa-heart.fa-1x
= link_to '',class:"items-box" do
  -#clearfix?
  %img{src:"/img/food_ebi_fry.png"}/
  .items-body
    .items-body__name
      エビフライ
    .items-body__price
      %p ¥6,000
      %i.far.fa-heart.fa-1x
= link_to '',class:"items-box" do
  -#clearfix?
  %img{src:"/img/food_ebi_fry.png"}/
  .items-body
    .items-body__name
      エビフライ
    .items-body__price
      %p ¥6,000
      %i.far.fa-heart.fa-1x